body{
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-size: 100%;
}

  #header {
    margin: 0 px;
    padding-top: 5%;
    padding-left: 5%;
    height: 400px;
    width: 100%;
    text-align: left;

  }
  .header1 h1 {
    font-family: monospace;
    margin-top: 0;
    font-size: 10em;
    padding: 40px;
    padding-top : 170px;
    letter-spacing: 3px;
    text-align: center;

  }

  #college{
    height 50px ;
  }