body{
  background-color: black;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  margin: 0;
  /* box-sizing: border-box; */
  text-align: center; /*llhlh*/
  position: relative;
  z-index: 45;
  font-size: 100%;
}

.menu-icon{
  position: relative;
}

.header{
  background-image: url('../images/2.gif');
  margin: 0 px;
  height: 600px;
  width : 100%;
 
}
.header p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  letter-spacing: 1px;
  color: #fdf0f6;
  font-size: 1.5em;
  text-align: center;
}
.header img{
  height: 120px;
  width: 120px;
}
.header h2{
  font-family: 'fp-12964',sans-serif;
  margin-top: 0;
  letter-spacing: 3px;
  color: #fdf0f6;
  font-size: 6em;
  padding: 20px;
  padding-top : 10px;
  text-align: center;
}
.header h3{
  font-family: 'fp-12964',sans-serif;
  margin-top: 0;
  letter-spacing: 3px;
  color: #fdf0f6;
  font-size: 9em;
  padding-top : 60px;
  text-align: center;
}
.header h4{
  font-family: 'fp-12964',sans-serif;
  margin-top: 0;
  margin: 0;
  letter-spacing: 3px;
  color: #fdf0f6;
  font-size: 3em;
  text-align: center;
}

.btn {
  width : 200px;
}
@media only screen and (max-width: 500px){

 .header{
   height: 500px;
 }
 .header h1{
  font-size: 4.3em !important;
  font-family: 'fp-12964',sans-serif;
  margin-right: 60px !important;
 }

 .image1{
   width :60%;
   z-index: 0;
   top: 320px;
  }

 .image2{
  display: none;
 }

}

.carousel{
  width : 100%;
}
.carousel-inner > .item {
  height: 200px;
}

