body{
  background-image: url('../images/VnxC.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 100%;
}
@font-face {
  font-family: 'fp-12964';
  src: url('depleted uranium.eot');
  src: url('depleted uranium.eot?#iefix') format('embedded-opentype'),
       url('depleted uranium.woff') format('woff'),
       url('depleted uranium.ttf') format('truetype'),
       url('depleted uranium.svg#fp-12964') format('svg');
}

.fontpro,.fontpro-12964 {
  font-family: 'fp-12964',sans-serif;
}
.menu-icon{
  position: relative;
}

.header{
  background-image: url('../images/background.png');
  margin: 0 px;
  height: 700px;
  /*width: 1440px;*/
  width : 100%;
  text-align: center;
}

.header h1{
  font-family: 'fp-12964',sans-serif;
  margin-top: 0;
  letter-spacing: 3px;
  color: #fdf0f6;
  font-size: 10em;
  padding: 40px;
  padding-top : 290px;
  text-align: center;
}
@media only screen and (max-width: 500px){

 .header h1{
  font-size: 5.5em !important;
  font-family: 'fp-12964',sans-serif;

 }

 .image1{
   width :60%;
   z-index: 0;
   top: 320px;
  }

 .image2{
  display: none;
 }

}
